table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

th {
    width: 320px;
}

tr td:nth-child(1), td:nth-child(2), th:nth-child(1), th:nth-child(2) {
    width: 200px;
    text-align: center;
}