.calendarContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#optionHorario {
    height: 30px;
    width: 100px;
    margin: 0px;
}

.opciones {
    width: 300px;
    height: 90%;
}

.cont-opt1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cont-opt2 {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cont-opt2 button{
    font-size: 15px;
    width: 100px;
    margin: 5px;
}

.monthYear {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tabla-principal {
    height: 90%;
    border: 2px solid black;
    border-collapse: collapse;
}

.tabla-principal tr td {
    border: 2px solid black;
    border-collapse: collapse;
}

td:first-child {
    width: 300px;
}

.tabla-principal td {
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    text-align: center;
}

.color-table {
    background-color: rgb(159, 190, 113);
}

.none-td {
    background-color: black;
}

.descansos-tr {
    background-color: rgb(119, 139, 89);
}

.blocked {
    background-color: gray;
}