.contenedor-dias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 400px;
}

.item-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80%;
    width: 300px;
    margin: 20px;
    border: 3px solid black;
    background-color: white;
    border-radius: 20px;
}

.item-weather img {
    width: 150px;
}